.Con {
    /* align-items: center; */
    background: url("../img/bg11.jpg");
    background-size: cover;
    height: 603px;
    margin: 0;
    padding: 10px;
}

.form {
    background-image: linear-gradient(120deg,  rgba(255, 213, 0, 0.806) 0%, #fda085 70%);
    /* background-color: rgba(255, 222, 56, 0.546); */
    border-radius: 10px;
}

.form_main {
    position: relative;
    display: block;
    top: 9px;
    left: 500px;
    /* right: 100px; */
    width: 418px;
    height: 450px;
    border: 1px solid #ccc;
    /* margin: auto; */
    margin-top: 45px;
    /* margin-left: 950px; */
    background-color: #ffffff2b;
    padding: 30px 50px 30px 50px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 15px;
    border-radius: 20px;
}

label {
    /* font-size: 1.2rem; */
    margin: 10px 0;
}

.form-control {
    height: 40px;
    width: 360px;
    /* width: 290px; */
    /* border: 2.5px solid rgb(43, 159, 242); */
    /* border: 2.5px solid rgba(128, 128, 128, 0.471); */
    border: none;
    /* margin: 15px 0; */
    margin-top: 10px;
    margin-bottom: 25px;
    /* padding-left: 10px; */
    font-size: 1.2rem;
    border-radius:10px;
}

.btnsub {
    text-align: center;
    z-index: 5;
}

button {
    padding: 12px 45px;
    /* background-color: rgb(254,200,110); */
    background-color: white;
    /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */

    border-radius: 15px;
    /* color: #fff; */
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    z-index: 5;
}