@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Licorice&family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
  margin: 0;
  padding: 0;
}



/* ROW and Container  */
.row{
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  overflow-x: scroll;
  margin: 5px 20px;
  background-color: rgba(0, 0, 0, 0.066);
  scrollbar-gutter: hidden;
}
.contain{
  height: 340px;
  width: 270px;
  background-color: rgba(0, 0, 0, 0.174);
  border-radius: 13px;
  font-family:Josefin Sans;
  /* font-family: 'Dosis', sans-serif; */
  margin: 0px 10px;
}
.contain img{
  padding: 15px 15px 0px 15px;
}
text{
  color: rgba(36, 35, 35, 0.662);
}
.details{
  background-color: rgba(255, 234, 0, 0.84);
  margin: 0;
  padding: 15px;
  border-radius: 10px;
}
.details p{
  font-size: 20px;
  margin: 0;
  padding: 10px 0px 13px 0px;
  margin-left: 5px;
}
.details span{
  color: blue;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 17px;
}