.containS{
    height: 360px;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.174);
    border-radius: 10px;
    font-family:Josefin Sans;
    margin: 0px 30px;
  }
  .containS img{
    padding: 15px 15px 0px 15px;
  }